{% extends 'index.html' %}

{% block main_content %}


<h2>Welkom</h2>
<p>
    Hier op GriGriVerse's server kan je je eigen eiland in de lucht bouwen. Je start met maar één kist met spullen!
    <br>Ga slim om met wat je hebt en bouw je eiland uit tot de grootste van de server!
</p>

<h2>Skyblock</h2>
<p>
    <bold>Skyblock</bold>, de gamemode op onze server, is een populaire gamemode waar je start op een klein eiland in de lucht.
    Je moet gebruik maken van alles wat je op je eiland kunt vinden. De kist waarmee je start, maar ook de blokken waaruit je eiland zijn opgebouwd zijn essentieel!<br>
    Wil je meer leren over skyblock? Ga dan naar de <a href="https://minecraft.fandom.com/wiki/Tutorials/Skyblock" target="_blank" rel="noopener noreferrer">Minecraft Wiki</a>.
</p>



{% endblock %}