{% extends 'index.html' %}

{% block main_content %}
<h1>Handleiding</h1>

<div class="card-group">
  <div class="card" >
    <img src="../../static/images/rick_and_morty_medium.jpg" class="card-img-top" alt="join_server">
    <div class="card-body">
      <h5 class="card-title">Server joinen</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" >
    <img src="../../static/images/rick_and_morty_medium2.jpg" class="card-img-top" alt="server_commands">
    <div class="card-body">
      <h5 class="card-title">Server commands</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" >
    <img src="../../static/images/rick_and_morty_medium2.jpg" class="card-img-top" alt="test1">
    <div class="card-body">
      <h5 class="card-title">test1</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" >
    <img src="../../static/images/rick_and_morty_medium2.jpg" class="card-img-top" alt="test2">
    <div class="card-body">
      <h5 class="card-title">test2</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>




    

{% endblock %}

