{% extends 'index.html' %}

{% block main_content %}
<h1>Handleiding</h1>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="join_server">
    <div class="card-body">
      <h5 class="card-title">Server joinen</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="../../static/images/rick_and_morty_medium.jpg" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% endblock %}

