{% extends 'index.html' %}

{% block main_content %}
<h1>Handleiding</h1>

<div class="container px-4">
  <div class="row g-5">
    <div class="col-lg-4">
      <div class="card">
        <img src="../../static/images/tutorial_minecraft_version_card.png" class="card-img-top" alt="minecraft_version">
        <div class="card-body">
          <h5 class="card-title">Minecraft versie</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="../../static/images/tutorial_server_join_card.png" class="card-img-top" alt="join_server">
        <div class="card-body">
          <h5 class="card-title">Server joinen</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="../../static/images/tutorial_server_command_card.png" class="card-img-top" alt="server_commands">
        <div class="card-body">
          <h5 class="card-title">Server commands</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="../../static/images/tutorial_minecraft_version_card.png" class="card-img-top" alt="tutorial4image">
        <div class="card-body">
          <h5 class="card-title">tutorial4</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="../../static/images/tutorial_minecraft_version_card.png" class="card-img-top" alt="tutorial5image">
        <div class="card-body">
          <h5 class="card-title">tutorial5</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <img src="../../static/images/tutorial_minecraft_version_card.png" class="card-img-top" alt="tutorial6image">
        <div class="card-body">
          <h5 class="card-title">tutorial6</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>








{% endblock %}