{% extends 'index.html' %}

{% block main_content %}
<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../static/images/handleidingen/server_joinen/1_minecraft_launcher.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Versie kiezen</h5>
          <p>Kies de juiste versie en klik op spelen.</p>
      </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/images/handleidingen/server_joinen/2_minecraft_menu.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Minecraft menu</h5>
            <p>Kies 'Multiplayer of Samen spelen'.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/images/handleidingen/server_joinen/3_multiplayer_menu.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
            <h5>Server toevoegen</h5>
            <p>Klik op 'Add server of Server toevoegen'.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/images/handleidingen/server_joinen/4_server_details.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Server informatie</h5>
          <p>Hier kan je je server een naam geven en het ip adres invullen. Ga naar de volgende afbeelding voor meer informatie.</p>
      </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/images/handleidingen/server_joinen/5_server_details_filled.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Server informatie invullen</h5>
          <p>Vul als servernaam een bijhorende naam in. Vul bij 'Server Adress' het ip van je server in.</p>
      </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/images/handleidingen/server_joinen/6_online_servers.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Server lijst</h5>
          <p>Je ziet nu een lijst met je servers. Dubbel klik op de server die je wilt spelen.</p>
      </div>
      </div>
      <div class="carousel-item">
        <img src="../../static/images/handleidingen/server_joinen/7_connecting_to_server.png" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Server joinen</h5>
          <p>Je wordt nu verbonden met de server.</p>
      </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}




